#root {
  height: 100vh;
}

:root {
  --rifle-green: #4b5043ff;
  --opal: #9bc4bcff;
  --aero-blue: #d3ffe9ff;
  --sky-blue-crayola: #8ddbe0ff;
  --rich-black: #090909ff;
  --light-black: #161316;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131516;
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(55, 65, 81); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(31, 41, 55); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(17, 24, 39); 
}

@tailwind base;
@tailwind components;
@tailwind utilities;